<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Hospital Management</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
      <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
  </head>
  <body class="bg-gray-100 text-gray-800 font-sans">
    <header class=" text-white p-4 shadow-md">
       <div class="navbar bg-blue-600 text-white shadow-sm">
  <div class="flex-1">
    <h1 class="text-xl font-bold">🏥 Hospital Rwanda</h1>
  </div>
  {% if request.user.is_authenticated %}
      <div class="flex gap-2">
    {% comment %} <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto" /> {% endcomment %}
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img
            alt="Tailwind CSS Navbar component"
            src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li>
          <a href="{% url 'update-profile' request.user.id %}" class="justify-between text-black">
            Profile
            <span class="badge">New</span>
          </a>
        </li>
        <li>
            {% if request.user.is_authenticated %}
                {% if request.user.is_doctor %}
                    <a href="{% url 'doctor-dashboard' %}" class="text-black">Dashboard</a>
                {% else %}
                    <a href="{% url 'staff_dashboard' %}" class="text-black">Dashboard</a>
                {% endif %}
            {% endif %}
            <a href=""></a>
        </li>
        <li><a class="text-black">Settings</a></li>
        <li><a href="{% url 'log-out' %}" class="text-black">Logout</a></li>
      </ul>
    </div>
  </div>

  {% else %}
    <ul class="flex items-center gap-6 text-sm font-medium">
      <li>
              <a
                href="{% url 'log-in' %}"
                class="flex items-center gap-1 hover:underline"
              >
                <svg
                  class="h-5 w-5"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="1.5"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15.75 9V5.25A3.75 3.75 0 0012 1.5 3.75 3.75 0 008.25 5.25V9m7.5-3.75H8.25m12.75 4.5v7.875a2.625 2.625 0 01-2.625 2.625H6.375A2.625 2.625 0 013.75 17.625V9.75"
                  />
                </svg>
                Login
              </a>
            </li>
            <li>
              <a
                href="{% url 'register' %}"
                class="flex items-center gap-1 hover:underline"
              >
                <svg
                  class="h-5 w-5"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="1.5"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 11.25a3 3 0 100-6 3 3 0 000 6zM19.5 21a7.5 7.5 0 00-15 0m12.75-12.75h2.25m0 0v2.25m0-2.25L18 6"
                  />
                </svg>
                Register
              </a>
            </li>
      </ul>
  {% endif %}

</div>

    </header>

    <main class="container mx-auto p-6">{% block content %}{% endblock %}</main>
    <footer class="bg-gray-100 text-gray-600 py-4 mt-12">
      <div class="container mx-auto text-center text-sm">
        © {{ now|date:"Y" }} Hospital Rwanda. All rights reserved.
      </div>
    </footer>
  </body>
</html>
