{% extends "base.html" %}

{% block content %}
<h2 class="text-3xl font-bold mb-6 text-gray-800">{{ title }}</h2>


<div class="mb-6 text-right">
    <a href="" 
       class="inline-block bg-blue-600 text-white px-5 py-2 rounded hover:bg-blue-700 transition">
        + Add Patient Record
    </a>
</div>
<h1>{{test}}</h1>

<div class="overflow-x-auto bg-white rounded-lg shadow p-6">
    <table class="min-w-full text-sm text-left text-gray-700">
        <thead class="bg-gray-100 border-b font-medium uppercase tracking-wider">
            <tr>
                <th class="px-4 py-3">Name</th>
                <th class="px-4 py-3">Role</th>
                <th class="px-4 py-3">Phone</th>
                <th class="px-4 py-3">Email</th>
                <th class="px-4 py-3">Date Joined</th>
            </tr>
        </thead>
        <tbody>
            {% comment %} {% for staff in staff_members %}
            <tr class="border-b hover:bg-gray-50 transition duration-150">
                <td class="px-4 py-3">{{ staff.first_name }} {{ staff.last_name }}</td>
                <td class="px-4 py-3">{{ staff.get_role_display }}</td>
                <td class="px-4 py-3">{{ staff.phone }}</td>
                <td class="px-4 py-3">{{ staff.email }}</td>
                <td class="px-4 py-3">{{ staff.date_joined }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="px-4 py-4 text-center text-gray-500">No staff members found.</td>
            </tr>
            {% endfor %} {% endcomment %}
        </tbody>
    </table>
</div>
{% endblock %}
